<div class="posts">
  <% @posts.each do |post| %>
    <div class="card border-dark">
      <img class="card-img-top <%= 'hide' if post.picture.nil? %>" src="<%= post.picture %>">
      <div class="card-body">
        <p class="card-text"><%= post.content %></p>
        <a type="checkbox">Like</a>
        <footer class="blockquote-footer float-right"><cite title="Source Title"><%= post.user.username %></cite></footer>
      </div>
    </div>
  <% end %>
</div>
