.card {
	margin: 0 auto;
  float: none;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 80%;
}

.card-img-top {
	max-height: 200px;
}

.hide {
	display: none;
}
#profile-page-info{
  position: fixed;
  text-align: center;
  top: 75px;
  left: 40px;
}
#profile-background{
	height: 100%;
	width: 310px;
	position: fixed;
	left: 0px;
	top: 0px;
	background: salmon;
}
#profile-pic{
	border-radius: 50%;
  position: relative;
  height: 200px;
  width: 200px;
}
#user-post-title{
	border-bottom-style: dotted;
	text-align: center;
	margin-top: 15px;
	padding-bottom: 15px;
}
#name-profile-background {
	position: fixed;
	left: 0px;
	height: 50px;
  width: 310px;
  background: black;
  opacity: .5;
}