.card {
	margin: 0 auto;
  float: none;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 80%;
}

.card-img-top {
	max-height: 200px;
}

.hide {
	display: none;
}
.green-text{
	color: green
}
#profile-page-info{
  position: sticky;
  text-align: center;
  align-items: center;
  top: 75px;
  color: white;
}
#profile-background{
	height: 100%;
	width: 295px;
	position: fixed;
	left: 0px;
	top: 0px;
	background: salmon;
}
#profile-pic{
	border-radius: 50%;
  position: relative;
  height: 200px;
  width: 200px;
}
#user-post-title{
	border-bottom: 5px dotted black;
	text-align: center;
	margin-top: 15px;
	padding-bottom: 15px;
}
#name-profile-background {
  position: fixed;
  left: 0px;
  top: 277px;
  height: 46px;
  width: 295px;
  background: #ffa89d;
  opacity: .5;
}

#post-icon {
	height: 40px;
	width: auto;
}

#settings-button{
  position: fixed;
  top: 70px;
  left: 226px;
  cursor: pointer;
}

/*#settins-icon {
	height: 30px;
	width: auto;
}*/

#results {
	position: absolute
}